# Ignora os dados extraídos
C:/Users/rapha/.vscode/codes/Ciencia de Dados/FundamentosCienciaDados/Projeto/data_fcd
/real_data_fcd.zip

# Ignora checkpoints do Jupyter Notebook
.ipynb_checkpoints/

# Ignora arquivos temporários do sistema
*.tmp
*.temp
*.log
*.bak
*.swp
*.DS_Store
Thumbs.db

# Ignora arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

